{% extends "base.html.twig" %}

{% block title %}CSRF
{% endblock %}

{% block body %}
	<p>
		<a href="/">Home</a>
	</p>

	<form action="{{ path('csrf') }} " method="post">
		<p>Data is not important, just submit to check</p>
		<input type="hidden" name="_token" value="{{ csrf_token('csrf-token-test') }}">
		<input type="submit" value="csrf">
	</form>

	<p>
		Check your browser devtools to see the CSRF token.<br/>
		Change the token value before sending the form to see the verification.
	</p>

	<p>
		{{error}}
	</p>


{% endblock %}
