{% extends "base.html.twig" %}

{% block title %}Security breaches
{% endblock %}

{% block body %}
	<div>
		<ul>
			<li><a href="/xss">XSS</a></li>
			<li><a href="/csrf">CSRF</a></li>
			<li><a href="/sqli">SQLi</a></li>
		</ul>
	</div>
{% endblock %}
