{% extends "base.html.twig" %}

{% block title %}SQLi
{% endblock %}

{% block body %}
	<p>
		<a href="/">Home</a>
	</p>

	<form action="{{ path('sqli') }} " method="post">
		<p>Search user by id (from 1 to 20)</p>
		<p>Its purpose is to test SQL injection, so you'll get an error if you write an invalid SQL statement.</p>
		<input type="text" name="userid" id="userid" placeholder="Number here">
		<input type="submit" value="Search">
	</form>

	<div>
		<p>
			Output :
		</p>
		<div>
			<ul>
				{% for u in users %}
					<li>{{ u.username }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
