{% extends "base.html.twig" %}

{% block title %}XSS
{% endblock %}

{% block body %}
	<p>
		<a href="/">Home</a>
	</p>

	<form action="{{ path('xss') }} " method="post">
		<input type="text" name="xss" id="xss" placeholder="">
		<input type="submit" value="xss">
	</form>

	<p>
		Hello
		{{ name }}
		!
	</p>
{% endblock %}
